@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.add-note {
    /* with alignment to navbar*/
    padding: 0 0.5rem;
}

#add-note-title {
    font-family: 'Poppins', sans-serif;
    color: black;
}

#note-form {
    font-family: 'Poppins', sans-serif;
    width: 50vw;
}

#note-form * {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.note-form-item-wrapper {
    margin: 1rem 0;
}

.note-form-item-wrapper>label {
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
}

::placeholder {
    color: black;
}

.note-form-item-wrapper>input,
.note-form-item-wrapper>textarea {
    outline: none;
    padding: 0.5rem;
    font-size: 1rem;
    background: none;
    color: black;
    border: 3px solid black;
}

.btn {
    position: relative;
    margin: 0 0.5rem;
    height: 3rem;
    width: 10rem !important;
    padding: 0.5rem 1rem;
    outline: none;
    background: none;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all 150ms linear;
}

.btn:active {
    transform: scale(0.9);
}

.btn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: all 150ms linear;
}

#save-note-btn {
    border: 3px solid green;
    color: green;
    margin-left: 0;
}

#save-note-btn::after {
    content: "Save Note";
}

#save-note-btn:hover {
    background-color: green;
    color: white;
}

#save-note-btn:hover::after {
    content: "+ Save Note";
    width: 100%;
}

#clear-note-btn {
    border: 3px solid red;
    color: red;
}

#clear-note-btn::after {
    content: "Clear";
}

#clear-note-btn:hover {
    background-color: red;
    color: white;
}

#clear-note-btn:hover::after {
    content: "Clear";
}